body 
{
	top: 0;
	padding: 0;
	margin: 0;
}
ul 
{
	padding-left: 0;
}
.row 
{
	margin-left: 0;
	margin-right: 0;
}
.container
{
	font-family: 'Roboto', sans-serif;
}
img
{
	max-width: 100%;
	max-height: auto;
}
.container
{
	background-color: #fff;
	top: 20px;	
}
#triocricket
{
	font-size: 100px;
	font-family: 'arial';
	font-weight: bold;
}
#triocricket h1
{
	margin-top: 6px;
    margin-left: -35px;
}
#socialbutton
{
	padding-top: 14px;
}
#socialbutton button
{
	width: 100px;
	height: 30px;
	font-size: 12px;
	padding:0 0 3px 0;
	color: #000;
	border-radius: 10px;
	border-color: #000;
	background-color:#FDFEFE;
}
.top
{
  border-bottom:1px solid #efefef;
}
.bottom
{
	background-color:#efefef ;
}
#scoreboard img 
{
	width: 22px;
	height: auto;
}
#match1, #match2, #match3, #match4
{
	border: 1px solid #fff;
} 
#scoreboard a 
{
	color: #000;
	font-size: 12px;
	font-weight:bolder;
}
#rightarrow, #leftarrow
{
	margin-top: 23px;
}
#rightarrow
{
	padding-left: 35px;
}
.carousel-item img
{
	height:500px;
}
.carousel-caption img
{
	height: auto;
	width: 150px;
}
#arrow1, #arrow2
{
	margin-bottom: 250px;
}
#article h1
{
	font-size: 30px;
	color:#0e97f9;
	text-align:left;
	padding-bottom: 5px;
}
article img
{
		height: 95px;
}
#articletext p 
{
	font-size: 17px;
	line-height: 20px;
	padding-left: 5px;
}
#news li 
{
	line-height: 20px;
}
#news h1
{
	font-size: 30px;
	color: #0e97f9;
	text-align:left;
}
#news a
{
	color: #000;
	line-height: 20px;
}
#records h1
{
	color:#0e97f9;
	font-size: 30px;
	text-align:left;
}
#records img
{
	width: 25px;
}
.topic
{
	text-align: right;
}
#download
{
	background-image:url("bannerimage2.jpg"); 
	height: 50vh;
	background-size:100% 100%;
	text-align: center; 
}
#topic h3
{
	text-align: left;
	color:#1a1c1c;
}
span 
{
	position: absolute;
	bottom: 10px;
}
#download img
{
	width: 60px;
	height:auto;
}
.topic
{
	margin:0 0 0 5px;
}
.topic p
{
	text-align: center;
	font-size: 17px;
	color: #E74C3C;
}
footer
{
	overflow: hidden;
	height: 50px;
	background-color: #000;
	color: #fff;
}
footer a 
{
	color: #fff;
}
#pagebottom a
{
	color: #fff;
}
#foot
{
	padding-top: 10px;
}
@media (max-width: 1100px){
#rightarrow
{
	padding-left: 35px;
}
#article img 
{
	height: 100px;
}
}
@media (max-width: 780px){
#socialbutton
{
	padding-left:0;
}
#triocricket h1
{
	margin-top: 12px;
}
#article img
{
	height: 190px;
}
#socialbutton
{
	padding-top: 18px;
	padding-left: 60px;
}
 #rightarrow
 {
 	margin-left: -20px;
 }
 #leftarrow 
{
	margin-left: -12px;
}
#rightarrow, #leftarrow 
{
    margin-top: 24px;
}
}
@media (max-width: 480px){
#triocricket 
{
	padding-left: 50px;
}
#socialbutton
{
	padding-left: 30px;
}
#triocricket h1
{
	margin-top: 10px;
}
#socialbutton
{
	padding-top: 8px;
    padding-bottom: 10px;
}
#article img
{
	height: 136px;
}
#rightarrow, #leftarrow
{
	margin-top: 25px;
}
#rightarrow
{
	margin-left: -35px;
}
#leftarrow
{
	margin-left: -12px;
}
}

@media (max-width: 400px) {
#triocricket h1
{
	margin-top:0px;
}
#article img 
{
	height: 120px;
}
#triocricket 
{
	padding-left: 20px;
}
#socialbutton
{
	padding-left: 8px;
}
#rightarrow
{
	margin-left: -36px;
}
#leftarrow
{
	margin-left: -12px;
}
}
