body 
{
	top: 0;
	padding: 0;
	margin: 0;
	background-color: #E3E6E3;
}
.container
{
	font-family: 'Roboto', sans-serif;
}
img
{
	max-width: 100%;
	max-height: auto;
}
.container
{
	background-color: #fff;
	top: 20px;	
}
#triocricket
{
	font-size: 100px;
	font-family: 'arial';
	font-weight: bold;
}
#socialbutton
{
	padding-left: 20px;
	padding-top: 10px;
}
#socialbutton button
{
	width: 100px;
	height: 30px;
	padding-left: 10px;
	border-radius: 3px;
}
.top
{
  border-bottom:1px solid #000;
}
.bottom
{
	margin-top: 5px;
	margin-bottom: 20px;
}
#match1 a, #match2 a, #match3 a, #match4 a
{
	color: #000;
	text-decoration: none;
}
#match1 h6, #match2 h6, #match3 h6, #match4 h6
{
	font-weight: bolder;
}
#match1 p, #match2 p
{
	color:#E74C3C;
	
}
#match4 p
{
	color:#3498DB;
}
#match3 p 
{
	color:#2ECC71;
}
#leftarrow, #rightarrow
{
	padding-top: 80px;
}
.carousel-item img
{
	height: 500px;
}
.carousel-caption img
{
	height: 70px
}
#article h1
{
	font-size: 30px;
	color: #D35400;
	text-align: center;
	padding-bottom: 5px;
}
#articletext p 
{
	font-size: 17px;
	line-height: 20px;
	padding-left: 10px;
}
#news h1
{
	font-size: 30px;
	color: #2471A3;
	text-align: center;
}
#news a
{
	color: #000;
	line-height: 20px;
}
#records h1
{
	color: #F1C40F;
	font-size: 30px;
	text-align: center;
}
#recordimg
{
	float: left;
}
#recordimg img
{
	width: 60%;
}
#recordtext
{
	float: left;
}
#recordtext p 
{
	padding-top: 10px;
}
#recordimg2 img
{
	width: 40%;
}
#recordimg3 img
{
 width: 50%;
 margin-left: 65px;
}
#recordtext3 p
{
	padding: 10px 0 0 28px;
}
#row1, #row2, #row3
{
	padding-bottom: 5px;
}
#vedio
{
	float: left;
	padding: 20px 0;
}
#text a
{
	color: #000;
}
#text 
{
	float: left;
	padding: 20px 0;
}
iframe
{
	width: 100px;
	height: 50px;
}
.topic p
{
	text-align: center;
	font-size: 17px;
	color: #E74C3C;
}
footer
{
	overflow: hidden;
	background-color: #808B96;
}
footer p
{
	margin: 20px

}

@media screen and (max-width: 900px) and (min-width: 700px) {
	#triocricket
{
	font-size: 30px;
}
#match1 p, #match2 p 
{
	margin-left: 25px
}
#match1 h6, #match2 h6
{
	margin-left: 25px
} 
#socialbutton
{
	padding:10px 0 0 10px;
}
#socialbutton button
{
	width:78px;
	border-radius: 3px;
}
#recordimg3 img
{
	margin-left: 40px;
	margin-top: 15px;
}
.float-left, .float-right
{
	padding: 0;
	margin:0;
}
#recordtext p {
     padding-top:0;
}
#recordtext3 p {
    padding: 0px;
}
}
@media screen and (max-width: 700px) and (min-width: 300px) {
	#triocricket
{
	font-size: 30px;
}
#match1 p
{
	margin-left: 20px
}
#match1 h6
{
	margin-left: 20px
} 
#socialbutton
{
	padding:0 0 10px 70px;
}
#socialbutton button
{
	width:78px;
	border-radius: 3px;
}
#recordimg3 img
{
	margin: 0;
}
#recordimg3
{
   width: 190px;
}
#recordtext3 p {
    padding: 0;
}
}